.p-items-list {
  display: flex;
  flex-direction: column;
  padding: 20px 5px;

  & > button {
    width: 100px;
    height: 34px;
    font-size: 14px;
    margin-bottom: 10px;
  }

  & > .subCat-title {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.4rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-weight: 600;
    color: var(--ui-secondary);
    & > img {
      width: 90px;
      object-fit: contain;
      font-size: 14px;
      line-height: 1.5;
      font-weight: 400;
    }
  }

  & > h2 {
    font-size: 1.5rem;
    letter-spacing: 1px;
    font-weight: 600;
    color: var(--ui-secondary);
    line-height: 1.5;
    margin-bottom: 16px;
    margin-top: 1rem;
  }

  & > p {
    font-size: 1rem;
    margin-bottom: 16px;
  }

  & .list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 2%;
    row-gap: 10px;

    & .item-card {
      display: flex;
      flex-direction: column;
      width: 32%;
      max-width: 200px;
      cursor: pointer;

      &:hover {
        & > .item-image {
          box-shadow: 0px 0px 5px rgba(213, 157, 34, 0.7);
        }
        & > .item-name {
          color: var(--ui-primary);
        }
      }

      & > .item-image {
        width: 100%;
        height: 100px;
        padding: 3px;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
        border-radius: 7px;
        transition: box-shadow 100ms ease-in-out;

        & > img {
          object-fit: cover;
          height: 100%;
          width: 100%;
        }
      }

      & > .item-name {
        display: flex;
        justify-content: center;
        padding-top: 5px;
        font-size: 1rem;
        font-weight: 600;
        transition: color 100ms ease-in-out;
        text-transform: capitalize;
        text-align: center;
      }
    }
  }
}
