.p-location-datetime {
  display: flex;
  flex-direction: column;
  padding: 20px 5px;
  & > button {
    width: 100px;
    height: 34px;
    font-size: 14px;
    margin-bottom: 14px;
  }

  .date-label {
    position: absolute;
    top: -7px;
    left: 8px;
    font-size: 10px;
    width: fit-content;
    height: fit-content;
    padding: 0 5px;
    background: white;
    color: rgba(0, 0, 0, 0.6);
    z-index: 10;
  }

  .client-label {
    font-size: 14px;
    font-weight: 600;
  }

  .no-client {
    font-size: 12px;
    margin: 4px 0;

    & > em {
      font-weight: 500;
      color: var(--ui-primary);
      cursor: pointer;
      transition: all ease-in-out 100ms;

      &:hover {
        font-weight: 700;
      }
    }
  }

  & > .header-icon {
    align-self: center;
    color: var(--ui-primary);
  }

  & > h3 {
    margin-bottom: 18px;
    text-align: center;
    font-size: 1.15rem;
    font-weight: 600;
  }

  & form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 400px;
    align-self: center;
    width: 100%;

    & > .button-group {
      justify-content: center;
    }
    & .submit-button {
      height: 40px;
      width: 150px;
    }
  }
}
