.p-sub-item {
  display: flex;
  flex-direction: column;
  padding: 20px 5px;

  & > button {
    width: 100px;
    height: 34px;
    font-size: 14px;
    margin-bottom: 10px;
  }

  & > h3 {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.4rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-weight: 600;
    color: var(--ui-secondary);
    & > img {
      width: 90px;
      object-fit: contain;
    }
  }

  & > p {
    font-size: 14px;
    margin-bottom: 20px;
  }

  .sub-list {
    display: flex;
    flex-direction: column;
  }
}
